{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block header %}
{% include './navbar_template.html' %}
{% endblock %}


{% block content %}

    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner ovbl-dark" style="background-image:url({% static 'images/slider/slide2.jpg' %});">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white" style="padding-top:130px">Dashboard</h1>
				 </div>
            </div>
        </div>
		<!-- Breadcrumb row -->
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="/">Home</a></li>
					<li><a href="/dashboard">Dashboard</a></li>
				</ul>
			</div>
		</div>
		<!-- Breadcrumb row END -->
        <!-- inner page banner END -->
		<div class="content-block">
            <!-- About Us -->
			<div class="section-area section-sp1">
                <div class="container">
					 <div class="row">
						<div class="col-lg-3 col-md-4 col-sm-12 m-b30">
							<div class="profile-bx text-center">
								{% comment %} <div class="user-profile-thumb">
									<img src="assets/images/profile/pic1.jpg" alt=""/>
								</div> {% endcomment %}
								<div class="profile-info" style="padding-top:1.5rem">
									<h4>{{fullname}}</h4>
									<span style="display: block">{{email}}</span>
									<span style="display: block">{{mobile}}</span>
								</div>
								{% comment %} <div class="profile-social">
									<ul class="list-inline m-a0">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div> {% endcomment %}
								<div class="profile-tabnav">
									<ul class="nav nav-tabs">
										<li class="nav-item">
											<a class="nav-link active" data-toggle="tab" href="#courses"><i class="ti-book"></i>Courses</a>
										</li>

										{% comment %} <li class="nav-item">
											<a class="nav-link" data-toggle="tab" href="#quiz-results"><i class="ti-bookmark-alt"></i>Quiz Results </a>
										</li> {% endcomment %}

										<li class="nav-item">
											<a class="nav-link" data-toggle="tab" href="#edit-profile"><i class="ti-pencil-alt"></i>Edit Profile</a>
										</li>

										<li class="nav-item">
											<a class="nav-link" data-toggle="tab" href="#change-password"><i class="ti-lock"></i>Change Password</a>
										</li>
									</ul>
								</div>
							</div>
						</div>



						<div class="col-lg-9 col-md-8 col-sm-12 m-b30">
							<div class="profile-content-bx">
								<div class="tab-content">

									{% include './msg_template.html' %}

									<div class="tab-pane active" id="courses">
										<div class="profile-head">
											<h3>My Courses</h3>
											<div class="feature-filters style1 ml-auto">
												<ul class="filters" data-toggle="buttons">
													<li data-filter="" class="btn active">
														<input type="radio">
														<a href="#"><span>All</span></a> 
													</li>
													<li data-filter="pending" class="btn">
														<input type="radio">
														<a href="#"><span>Purchased</span></a> 
													</li>
													<li data-filter="publish" class="btn">
														<input type="radio">
														<a href="#"><span>Not Purchased</span></a> 
													</li>
												</ul>
											</div>
										</div>
										<div class="courses-filter">
											<div class="clearfix">
												<ul id="masonry" class="ttr-gallery-listing magnific-image row" style="list-style-type: none;">
													<li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 publish">
														<div class="cours-bx">
															<div class="action-box" onclick="location.href='#'" style="cursor:pointer;">
																<img src="{% static 'images/courses/ultimate.jpg' %}" alt="Ultimate Option Trading Course">
																<a href="#" class="btn">Read More</a>
															</div>
															<div class="info-bx text-center">
																<h5><a href="#">Ultimate Option Trading Course</a></h5>
																{% comment %} <span style="display: block;">Option Trading</span> {% endcomment %}
																
																{% if ucPromoApplied %}
																<button onclick="location.href='/promo/ultimate'" class="btn" style="font-size: .7rem">Apply Promo Code</button>
																{% endif %}
																
																{% comment %} <button onclick="location.href='/promo/ultimate'" class="btn" style="font-size: 1rem; margin-top:1rem">Buy Now</button> {% endcomment %}
																
																{% comment %} <form action="/promo/" method="post">
																	{% csrf_token %}
																	<input type="hidden" name="course" value="ultimate" />
																	<button type="submit" class="btn" style="font-size: 1rem">Apply Promo Code</button>
																</form> {% endcomment %}
																

															</div>
															<div class="cours-more-info">
																<div class="review">
																	<span>197 Review</span>
																	<ul class="cours-star">
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		{% comment %} <li><i class="fa fa-star"></i></li> {% endcomment %}
																	</ul>
																</div>
																<div onclick="location.href=''" style="cursor:pointer;" class="price">
																	<del>₹ {{ucPriceOriginal}}</del>
																	<h4>₹ {{ucPriceActual}}</h4>
																</div>
															</div>
														</div>
													</li>
													{% comment %} <li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 pending">
														<div class="cours-bx">
															<div class="action-box">
																<img src="assets/images/courses/pic2.jpg" alt="">
																<a href="#" class="btn">Read More</a>
															</div>
															<div class="info-bx text-center">
																<h5><a href="#">Introduction EduChamp – LMS plugin</a></h5>
																<span>Programming</span>
															</div>
															<div class="cours-more-info">
																<div class="review">
																	<span>3 Review</span>
																	<ul class="cours-star">
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																	</ul>
																</div>
																<div class="price">
																	<del>$190</del>
																	<h5>$120</h5>
																</div>
															</div>
														</div>
													</li>
													<li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 publish">
														<div class="cours-bx">
															<div class="action-box">
																<img src="assets/images/courses/pic3.jpg" alt="">
																<a href="#" class="btn">Read More</a>
															</div>
															<div class="info-bx text-center">
																<h5><a href="#">Introduction EduChamp – LMS plugin</a></h5>
																<span>Programming</span>
															</div>
															<div class="cours-more-info">
																<div class="review">
																	<span>3 Review</span>
																	<ul class="cours-star">
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																	</ul>
																</div>
																<div class="price">
																	<del>$190</del>
																	<h5>$120</h5>
																</div>
															</div>
														</div>
													</li>
													<li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 pending">
														<div class="cours-bx">
															<div class="action-box">
																<img src="assets/images/courses/pic4.jpg" alt="">
																<a href="#" class="btn">Read More</a>
															</div>
															<div class="info-bx text-center">
																<h5><a href="#">Introduction EduChamp – LMS plugin</a></h5>
																<span>Programming</span>
															</div>
															<div class="cours-more-info">
																<div class="review">
																	<span>3 Review</span>
																	<ul class="cours-star">
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																	</ul>
																</div>
																<div class="price">
																	<del>$190</del>
																	<h5>$120</h5>
																</div>
															</div>
														</div>
													</li>
													<li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 publish">
														<div class="cours-bx">
															<div class="action-box">
																<img src="assets/images/courses/pic5.jpg" alt="">
																<a href="#" class="btn">Read More</a>
															</div>
															<div class="info-bx text-center">
																<h5><a href="#">Introduction EduChamp – LMS plugin</a></h5>
																<span>Programming</span>
															</div>
															<div class="cours-more-info">
																<div class="review">
																	<span>3 Review</span>
																	<ul class="cours-star">
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																	</ul>
																</div>
																<div class="price">
																	<del>$190</del>
																	<h5>$120</h5>
																</div>
															</div>
														</div>
													</li>
													<li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 pending">
														<div class="cours-bx">
															<div class="action-box">
																<img src="assets/images/courses/pic6.jpg" alt="">
																<a href="#" class="btn">Read More</a>
															</div>
															<div class="info-bx text-center">
																<h5><a href="#">Introduction EduChamp – LMS plugin</a></h5>
																<span>Programming</span>
															</div>
															<div class="cours-more-info">
																<div class="review">
																	<span>3 Review</span>
																	<ul class="cours-star">
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																	</ul>
																</div>
																<div class="price">
																	<del>$190</del>
																	<h5>$120</h5>
																</div>
															</div>
														</div>
													</li>
													<li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 publish">
														<div class="cours-bx">
															<div class="action-box">
																<img src="assets/images/courses/pic7.jpg" alt="">
																<a href="#" class="btn">Read More</a>
															</div>
															<div class="info-bx text-center">
																<h5><a href="#">Introduction EduChamp – LMS plugin</a></h5>
																<span>Programming</span>
															</div>
															<div class="cours-more-info">
																<div class="review">
																	<span>3 Review</span>
																	<ul class="cours-star">
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																	</ul>
																</div>
																<div class="price">
																	<del>$190</del>
																	<h5>$120</h5>
																</div>
															</div>
														</div>
													</li>
													<li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 book">
														<div class="cours-bx">
															<div class="action-box">
																<img src="assets/images/courses/pic8.jpg" alt="">
																<a href="#" class="btn">Read More</a>
															</div>
															<div class="info-bx text-center">
																<h5><a href="#">Introduction EduChamp – LMS plugin</a></h5>
																<span>Programming</span>
															</div>
															<div class="cours-more-info">
																<div class="review">
																	<span>3 Review</span>
																	<ul class="cours-star">
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																	</ul>
																</div>
																<div class="price">
																	<del>$190</del>
																	<h5>$120</h5>
																</div>
															</div>
														</div>
													</li>
													<li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 publish">
														<div class="cours-bx">
															<div class="action-box">
																<img src="assets/images/courses/pic9.jpg" alt="">
																<a href="#" class="btn">Read More</a>
															</div>
															<div class="info-bx text-center">
																<h5><a href="#">Introduction EduChamp – LMS plugin</a></h5>
																<span>Programming</span>
															</div>
															<div class="cours-more-info">
																<div class="review">
																	<span>3 Review</span>
																	<ul class="cours-star">
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li class="active"><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																		<li><i class="fa fa-star"></i></li>
																	</ul>
																</div>
																<div class="price">
																	<del>$190</del>
																	<h5>$120</h5>
																</div>
															</div>
														</div>
													</li> {% endcomment %}
												</ul>
											</div>
										</div>
									</div>


									{% comment %} <div class="tab-pane" id="quiz-results">
										<div class="profile-head">
											<h3>Quiz Results</h3>
										</div>
										<div class="courses-filter">
											<div class="row">
												<div class="col-md-6 col-lg-6">
													<ul class="course-features">
														<li><i class="ti-book"></i> <span class="label">Lectures</span> <span class="value">8</span></li>
														<li><i class="ti-help-alt"></i> <span class="label">Quizzes</span> <span class="value">1</span></li>
														<li><i class="ti-time"></i> <span class="label">Duration</span> <span class="value">60 hours</span></li>
														<li><i class="ti-stats-up"></i> <span class="label">Skill level</span> <span class="value">Beginner</span></li>
														<li><i class="ti-smallcap"></i> <span class="label">Language</span> <span class="value">English</span></li>
														<li><i class="ti-user"></i> <span class="label">Students</span> <span class="value">32</span></li>
														<li><i class="ti-check-box"></i> <span class="label">Assessments</span> <span class="value">Yes</span></li>
													</ul>
												</div>
												<div class="col-md-6 col-lg-6">
													<ul class="course-features">
														<li><i class="ti-book"></i> <span class="label">Lectures</span> <span class="value">8</span></li>
														<li><i class="ti-help-alt"></i> <span class="label">Quizzes</span> <span class="value">1</span></li>
														<li><i class="ti-time"></i> <span class="label">Duration</span> <span class="value">60 hours</span></li>
														<li><i class="ti-stats-up"></i> <span class="label">Skill level</span> <span class="value">Beginner</span></li>
														<li><i class="ti-smallcap"></i> <span class="label">Language</span> <span class="value">English</span></li>
														<li><i class="ti-user"></i> <span class="label">Students</span> <span class="value">32</span></li>
														<li><i class="ti-check-box"></i> <span class="label">Assessments</span> <span class="value">Yes</span></li>
													</ul>
												</div>
											</div>
										</div>
									</div> {% endcomment %}


									<div class="tab-pane" id="edit-profile">
										<div class="profile-head">
											<h3>Edit Profile</h3>
										</div>
										<form class="edit-profile" action="/updateprofile/" method="post">
											{% csrf_token %}
											<div class="">
												<div class="form-group row">
													<div class="col-12 col-sm-9 col-md-9 col-lg-10 ml-auto">
														<h3>1. Personal Details</h3>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Full Name</label>
													<div class="col-12 col-sm-9 col-md-9 col-lg-7">
														<input class="form-control" name="dzName" type="text" value="{{fullname}}">
													</div>
												</div>
												<div class="form-group row">
													<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Email</label>
													<div class="col-12 col-sm-9 col-md-9 col-lg-7">
														<input class="form-control" name="dzEmail" type="email" value="{{email}}">
													</div>
												</div>
												<div class="form-group row">
													<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Mobile</label>
													<div class="col-12 col-sm-9 col-md-9 col-lg-7">
														<input class="form-control" name="dzNumber" type="text" value="{{mobile}}" readonly style="cursor: not-allowed;">
														<span class="help">If you wish to change your mobile no. please contact support. This feature is currently under development</span>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Age</label>
													<div class="col-12 col-sm-9 col-md-9 col-lg-7">
														<input class="form-control" name="dzAge" type="text" value="{{userprofile.age}}">
													</div>
												</div>
												<div class="form-group row">
													<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Gender</label>
													<div class="col-12 col-sm-9 col-md-9 col-lg-7">
														<input class="form-control" name="dzGender" type="text" value="{{userprofile.gender}}">
													</div>
												</div>
												
												<div class="seperator"></div>
												
												<div class="form-group row">
													<div class="col-12 col-sm-9 col-md-9 col-lg-10 ml-auto">
														<h3>2. Address</h3>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Address</label>
													<div class="col-12 col-sm-9 col-md-9 col-lg-7">
														<input class="form-control" name="dzAddress" type="text" value="{{userprofile.address}}">
													</div>
												</div>
												<div class="form-group row">
													<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">City</label>
													<div class="col-12 col-sm-9 col-md-9 col-lg-7">
														<input class="form-control" name="dzCity" type="text" value="{{userprofile.city}}">
													</div>
												</div>
												<div class="form-group row">
													<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">State</label>
													<div class="col-12 col-sm-9 col-md-9 col-lg-7">
														<input class="form-control" name="dzState" type="text" value="{{userprofile.state}}">
													</div>
												</div>

												<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>

											</div>
											<div class="">
												<div class="">
													<div class="row">
														<div class="col-12 col-sm-3 col-md-3 col-lg-2">
														</div>
														<div class="col-12 col-sm-9 col-md-9 col-lg-7">
															<button type="submit" class="btn">Save changes</button>
															<button type="reset" class="btn-secondry">Cancel</button>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>


									<div class="tab-pane" id="change-password">
										<div class="profile-head">
											<h3>Change Password</h3>
										</div>
										<form class="edit-profile">
											<div class="">
												<div class="form-group row">
													<div class="col-12 col-sm-8 col-md-8 col-lg-9 ml-auto">
														<h3>Password</h3>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-12 col-sm-4 col-md-4 col-lg-3 col-form-label">Current Password</label>
													<div class="col-12 col-sm-8 col-md-8 col-lg-7">
														<input class="form-control" type="password" value="">
													</div>
												</div>
												<div class="form-group row">
													<label class="col-12 col-sm-4 col-md-4 col-lg-3 col-form-label">New Password</label>
													<div class="col-12 col-sm-8 col-md-8 col-lg-7">
														<input class="form-control" type="password" value="">
													</div>
												</div>
												<div class="form-group row">
													<label class="col-12 col-sm-4 col-md-4 col-lg-3 col-form-label">Re Type New Password</label>
													<div class="col-12 col-sm-8 col-md-8 col-lg-7">
														<input class="form-control" type="password" value="">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-12 col-sm-4 col-md-4 col-lg-3">
												</div>
												<div class="col-12 col-sm-8 col-md-8 col-lg-7">
													<button type="reset" class="btn">Save changes</button>
													<button type="reset" class="btn-secondry">Cancel</button>
												</div>
											</div>
												
										</form>
									</div>


								</div> 
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
		<!-- contact area END -->
    </div>
    <!-- Content END-->

{% endblock %}