{% extends "base.html" %}
{% load static %}

{% block title %}Terms and Conditions{% endblock %}

{% block header %}
{% include './navbar_template.html' %}
{% endblock %}


{% block content %}

<div class="page-content bg-white">
	<!-- Page Heading Box ==== -->
	<!-- inner page banner -->
	<div class="page-banner ovbl-dark" style="background-image:url({% static 'images/slider/slide2.jpg' %});">
		<div class="container">
			<div class="page-banner-entry">
				<h1 class="text-white" style="padding-top:130px">Terms and Conditions</h1>
			 </div>
		</div>
	</div>
	<!-- Breadcrumb row -->
	<div class="breadcrumb-row">
		<div class="container">
			<ul class="list-inline">
				<li><a href="/">Home</a></li>
				<li><a href="/tnc">Terms and Conditions</a></li>
			</ul>
		</div>
	</div>
	<!-- Breadcrumb row END -->
	<!-- Page Content Box ==== -->
	<div class="content-block">
		<!-- Your TnC -->
		<div class="section-area section-sp1">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="heading-bx left">
							<h2 class="m-b10 title-head">Terms and Conditions</h2>
						</div>
						<p class="m-b10">These Terms and Conditions of Online Courses, which incorporate by reference the Terms and Conditions of Website Use and which are subject to any Additional Online Terms and Conditions , apply to the sale of any Online Course.  Please read the Online Terms carefully before purchasing an Online Course and print off a copy for your records.  By ordering an Online Course, you are confirming your agreement to be bound by the Online Terms.</p>
						<div class="ttr-accordion m-b30 tnc-bx" id="accordion1">
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title"> 
										<a data-toggle="collapse" href="#tnc1" class="collapsed" data-parent="#tnc1">
										1) Online Course Provider</a></h6>
								</div>
								<div id="tnc1" class="acod-body collapse">
									<div class="acod-content">
										<p>a) The Online Courses are provided by INTELLIGENT TRADER, a <a href="https://youtube.com/channel/UCxQcko8W3B2dQGUww_nzOuA" style="color:blue">Youtube Channel</a> incorporated On YOUTUBE . So you can just simply click on the link and check all details.</p>
										<p>b) We will use our reasonable endeavours to provide the Online Courses advertised by Intelligent Trader.</p>
										<p>c) We will provide the Online Courses using reasonable care and skill.</p>
										<p>d) We may appoint independent sub-contactors to assist in providing Online Courses or use third parties to arrange or supply certain aspects of, or services in connection with, our Online Courses. You agree that our obligation to you is to use reasonable care in selecting competent, independent sub-contractors and third party suppliers to provide reasonable services related to the Online Courses. You agree that Intelligent Trader is not responsible for the actions or omissions of such sub-contractors or third party suppliers.</p>
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title"> 
										<a data-toggle="collapse" href="#tnc2" class="collapsed" data-parent="#tnc2">
										2) Definitions</a> </h6>
								</div>
								<div id="tnc2" class="acod-body collapse">
									<div class="acod-content">
										<p>Capitalised terms used herein have the following meanings:</p>
										<p><b>“Additional Study Materials”</b> means any Online Study Materials or Physical Study Materials is not included in the Course Fee.</p>
										<p><b>“Course Fee”</b> means the fee payable for an Online Course but excludes any delivery charges payable in relation to the delivery of Course Materials, if applicable, and any import duties, taxes and customs clearances which may be payable;</p>
										<p><b>"Course Materials”</b> means the materials provided by Intelligent Trader in the course of the delivery of any Online Course, which may be Online Study Materials.</p>
										<p><b>“Scheduled Online Course”</b> means an online course which is only available for access by you on a predetermined start date.</p>
										<p><b>“Website”</b> means <a href="https://www.intelligent-trader.me/" style="color:blue">https://www.intelligent-trader.me/</a> and the domain is operated by Intelligent Trader.</p>
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title"> 
										<a data-toggle="collapse"  href="#tnc3" class="collapsed"  data-parent="#tnc3">
										3) Purchasing and Confirmation</a> </h6>
								</div>
								<div id="tnc3" class="acod-body collapse">
									<div class="acod-content">
										<p>a) In order to purchase an Online Course you must provide the required information and pay the amount specified.  You must ensure that all information provided is complete and accurate.</p>
										<p>b) When you place an order for an Online Course, you are offering to purchase that Online Course on the Online Terms.</p>
										<p>c) A legally binding agreement shall only come into existence once:</p>
										<p>&nbsp&nbsp&nbsp(i) Intelligent Trader has accepted your offer to purchase an Online Course by sending you an order confirmation email which will provide you with a link to access the Online Course.</p>
										<p>&nbsp&nbsp&nbsp(ii) The Online Terms, together with your purchase offer and the order confirmation email, constitute the entire agreement between us (the “Contract”) and supersedes and replaces any other terms and conditions previously published by us and any other understanding, undertaking, representation, warranty, arrangement, promise or statement of any nature whatsoever made by us to you, whether oral, written or otherwise, relating to the subject matter of the Online Terms.  You acknowledge that you have not relied on any understanding, undertaking, representation, warranty, arrangement, promise or statement made or given by us or on our behalf, which is not set out in the Contract.</p>
										<p>&nbsp&nbsp&nbsp(iii) You must check the details on the order confirmation email when you receive it.  If there are any errors please contact us immediately at intelligenttrader123@gmail.com.</p>
										<p>&nbsp&nbsp&nbsp(iv) Where your order consists of multiple Online Courses, each individual Online Course will be treated by Intelligent Trader as a separate offer to purchase.</p>
										<p>&nbsp&nbsp&nbsp(v) We reserve the right, in our sole and absolute discretion and without the need to give a reason, to refuse to accept an offer to purchase one or more Online Courses.  In such circumstances, no contract will arise and we will return any payment accompanying your purchase offer.</p>
										<p>&nbsp&nbsp&nbsp(vi) Before a Contract comes into existence between you and us, we reserve the right to increase or decrease the advertised Course Fee for an Online Course and/or to amend any of the information contained in the Online Course description.   We also reserve the right to withdraw at any time Online Courses advertised for sale on the Website and/or in any Brochure.</p>
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title"> 
										<a data-toggle="collapse"  href="#tnc4" class="collapsed"  data-parent="#tnc4">
										4) Payments</a> </h6>
								</div>
								<div id="tnc4" class="acod-body collapse">
									<div class="acod-content">
										<p>a) The Course Fee for any Online Course at any given time and any additional delivery charges payable in relation to the delivery of Course Materials, if applicable, will be displayed on the Website and/or in a Brochure and/or will be notified to you by a Frontier Bushcraft customer services representative.</p>
										<p>b) The course Fees is comletely fixed untill and unless anything is updated on the website so you have to it in one time full amount . There is no installments process till now in our course.</p>
										<p>c) Where the Course Fee is paid for:</p>
										<p>&nbsp&nbsp&nbsp(i) With a one-off lump sum payment, payments will be accepted by:</p>
										<p>&nbsp&nbsp&nbsp(ii) Razorpay (An online legal payment gateway)- It can Take payments in form of UPI , Debit Cards ,Credit Cards etc.</p>
										<p>&nbsp&nbsp&nbsp(iii) In case any issue in paying fees the kindly mail on itelligenttrader123@gmail.com we will connect you with other payment gateways.</p>
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title"> 
										<a data-toggle="collapse"  href="#tnc5" class="collapsed"  data-parent="#tnc5">
										5) Technical Support and Access</a> </h6>
								</div>
								<div id="tnc5" class="acod-body collapse">
									<div class="acod-content">
										<p>a) If you are unable to access an Online Course, Intelligent Trader will use reasonable endeavours to provide a solution where Intelligent Trader has direct control over the system, software or settings involved. If the issue lies with your hardware, systems, software or settings thereof, Intelligent Trader may, in its discretion, provide assistance to you to help you resolve the issue but we cannot guarantee that any assistance provided will resolve your issue.</p>
										<p>b) Intelligent Trader will use reasonable endeavours to make the Online Course available but cannot guarantee uninterrupted, timely or error free availability or that defects will be corrected.  Frontier Bushcraft reserves the right to suspend access to the Website for the purpose of scheduled or emergency maintenance, repairs or upgrades to improve the performance or functionality of the Website.</p>
										<p>c) You also accept and acknowledge that Frontier Bushcraft cannot be held responsible for any delay or disruptions to your access to the Online Course as a result of such suspension or any of the following:</p>
										<p>&nbsp&nbsp&nbsp(i) the operation of the internet and the world wide web, including but not limited to viruses;</p>
										<p>&nbsp&nbsp&nbsp(ii) any firewall restrictions that have been placed on your network or the computer you are using to access the Online Course;</p>
										<p>&nbsp&nbsp&nbsp(iii) failures of telecommunications links and equipment; or</p>
										<p>&nbsp&nbsp&nbsp(iv) updated browser issues.</p>
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title"> 
										<a data-toggle="collapse"  href="#tnc6" class="collapsed"  data-parent="#tnc6">
										6) Warranties</a> </h6>
								</div>
								<div id="tnc6" class="acod-body collapse">
									<div class="acod-content">
										<p>Intelligent Trader will provide the Course Materials in accordance with the Online Course description, which is set out on the Website and/or in any relevant Brochure.</p>
										<p>a) Intelligent Trader expects you to take reasonable care to verify that the Online Course and Course Materials in question will meet your needs. Intelligent Trader does not make any commitment to you that you will obtain any particular result from your use of the Online Course or Course Materials or that you will obtain any particular qualification on completion of the Online Course (unless otherwise stated on the Website and/or in any relevant Brochure).</p>
										<p>b) Intelligent Trader does not make any representation, guarantee or commitment to you that the Online Course or Course Materials will be error free.</p>
										<p>c) Intelligent Trader does not make any commitment that the Online Course or Course Materials will be compatible with or operate with your software or hardware.</p>
										<p>d) All representations, warranties and/or terms and/or commitments not expressly set out in the Online Terms (whether implied by law, conduct, statute or otherwise) are hereby excluded to the maximum extent permissible at law.</p>
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title"> 
										<a data-toggle="collapse"  href="#tnc7" class="collapsed"  data-parent="#tnc7">
										7) Limitation of liability</a> </h6>
								</div>
								<div id="tnc7" class="acod-body collapse">
									<div class="acod-content">
										<p>a) The exclusions and limitations of liability contained in the Online Terms do not apply to a party’s liability: (i) for fraud or wilful default; (ii) for death or personal injury caused by its negligence; or (iii) where such limitation or exclusion cannot lawfully be excluded.</p>
										<p>b) Except as set out in the Online Terms, Intelligent Trader shall not be responsible for losses that result from its failure to comply with the Online Terms including, but not limited to, losses that fall into the following categories:</p>
										<p>&nbsp&nbsp&nbsp (i) indirect or consequential losses;</p>
										<p>&nbsp&nbsp&nbsp (ii) loss of income or revenue;</p>
										<p>&nbsp&nbsp&nbsp (iii) loss of business;</p>
										<p>&nbsp&nbsp&nbsp (iv) loss of anticipated savings; or</p>
										<p>&nbsp&nbsp&nbsp (v) loss or corruption of data.</p>
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title"> 
										<a data-toggle="collapse"  href="#tnc8" class="collapsed"  data-parent="#tnc8">
										8) Disclaimer</a> </h6>
								</div>
								<div id="tnc8" class="acod-body collapse">
									<div class="acod-content">
										<p>The Online Courses are for training purposes only.  Intelligent Trader will not accept any responsibility to any party for the use of the Online Course or Course Materials for any purpose other than training for educational purposes, including but not limited to, the giving of advice by you to any third party.</p>
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title"> 
										<a data-toggle="collapse"  href="#tnc9" class="collapsed"  data-parent="#tnc9">
										9) Changes by Us</a> </h6>
								</div>
								<div id="tnc9" class="acod-body collapse">
									<div class="acod-content">
										<p>An Online Course description constitutes only an indication of what the Online Course is planned to accomplish. The Online Course description does not form part of the Contract between you and us. We will use our reasonable endeavours to provide an Online Course as described.</p>
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title"> 
										<a data-toggle="collapse"  href="#tnc10" class="collapsed"  data-parent="#tnc10">
										10) General</a> </h6>
								</div>
								<div id="tnc10" class="acod-body collapse">
									<div class="acod-content">
										<p>a) Intelligent Trader reserves the right to recover any reasonable debt collection costs in connection with the Online Terms.</p>
										<p>b) Intelligent Trader may update or amend the Online Terms from time to time to comply with law or to meet its changing business requirements or to correct any errors without notice to you.  Any updates or amendments will be posted on the Website.</p>
										<p>c) You may not assign or sub-contract any of your rights or obligations under the Online Terms to any third party unless agreed to by Intelligent Trader pursuant to Additional Online Terms and Conditions.</p>
										<p>d) Intelligent Trader may assign, transfer or sub-contract any of its rights or obligations under the Online Terms to any third party at its discretion.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- <p class="m-b10">Line 1</p>
						<p>Line 2</p> -->
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
								<div class="feature-container">
									<div class="feature-md text-white m-b20">
										<a href="#" class="icon-cell"><img src="{% static 'images/icon/icon1.png' %}" alt=""></a> 
									</div>
									<div class="icon-content">
										<h5 class="ttr-tilte">Our Philosophy</h5>
										<p>Our metric for success can be summed up in one phrase: earn customers for life.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
								<div class="feature-container">
									<div class="feature-md text-white m-b20">
										<a href="#" class="icon-cell"><img src="{% static 'images/icon/icon2.png' %}" alt=""></a> 
									</div>
									<div class="icon-content">
										<h5 class="ttr-tilte">Excellent Customer Service</h5>
										<p>We provide best help and support for our customers.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
								<div class="feature-container">
									<div class="feature-md text-white m-b20">
										<a href="#" class="icon-cell"><img src="{% static 'images/icon/icon3.png' %}" alt=""></a> 
									</div>
									<div class="icon-content">
										<h5 class="ttr-tilte">Key Of Success</h5>
										<p>Serving our customers beyond their expectations.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
								<div class="feature-container">
									<div class="feature-md text-white m-b20">
										<a href="#" class="icon-cell"><img src="{% static 'images/icon/icon4.png' %}" alt=""></a> 
									</div>
									<div class="icon-content">
										<h5 class="ttr-tilte">User Privacy</h5>
										<p>User data and privacy is our top priority.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="col-lg-4 col-md-12">
						<form class="contact-bx dzForm" action="http://educhamp.themetrades.com/demo/script/contact.php">
						<div class="dzFormMsg"></div>
							<div class="heading-bx left">
								<h2 class="title-head">Get In <span>Touch</span></h2>
								<p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
							</div>
							<div class="row placeani">
								<div class="col-lg-6 ">
									<div class="form-group">
										<div class="input-group">
											<label>Your Name</label>
											<input name="dzName" type="text" required class="form-control">
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<div class="input-group"> 
											<label>Your Email Address</label>
											<input name="dzEmail" type="email" class="form-control" required >
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<div class="input-group">
											<label>Your Phone</label>
											<input name="dzOther[Phone]" type="text" required class="form-control">
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<div class="input-group">
											<label>Subject</label>
											<input name="dzOther[Subject]" type="text" required class="form-control">
										</div>
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-group">
										<div class="input-group">
											<label>Type Message</label>
											<textarea name="dzMessage" rows="4" class="form-control" required ></textarea>
										</div>
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-group">
										<div class="input-group">
											<div class="g-recaptcha" data-sitekey="6LefsVUUAAAAADBPsLZzsNnETChealv6PYGzv3ZN" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
											<input class="form-control d-none" style="display:none;" data-recaptcha="true" required data-error="Please complete the Captcha">
										</div>
									</div>
								</div>
								<div class="col-lg-12">
									<button name="submit" type="submit" value="Submit" class="btn button-md"> Send Message</button>
								</div>
							</div>
						</form>
					</div> -->
				</div>
				
			</div>
		</div>
		<!-- Your TnC End -->
	</div>



	

{% endblock %}